* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
header h1 a {
    padding: 10px 15px;
    text-align:right;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;
}
header nav ul li a {
    padding: 10px 50px;
}