* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style starts */
header {
    padding: 10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
header h1 a {
    padding: 10px 15px;
    text-align:right;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;
}
header nav ul li a {
    padding: 10px 50px;
}
/*header style ends*/

.hero {
    
}
.about-me {
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    max-height: 300px;
    
}
.about-me h2 {
    font-size:50px;
    border-right: 3px solid;
    border-right-color:blue;
    padding: 10px 20px 10px 100px;
}
.about-me p {
    padding:10px 10px 10px 10px;
    flex: 12;
    margin-right: 500px;
}
